.weather {
  margin: 30px auto;
  border: 1px solid #dadde1;
  padding: 30px 20px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.weather h1 {
  font-size: 35px;
  color: rgb(97, 97, 97);
  margin: 20px 0 0 0;
  margin-bottom: 5px;
}

.weather ul {
  list-style: none;
  color: rgb(97, 97, 97);
  font-size: 18px;
}

.weather .current-info {
  padding-left: 0.2rem;
}

.current-state {
  position: relative;
  top: 20px;
}

.col-6 {
  position: relative;
  right: 14px;
}

.weather img {
  position: relative;
  bottom: 18px;
}

.weather .temperature {
  font-weight: bold;
  font-size: 64px;
}

.weather .unit {
  font-size: 20px;
  position: relative;
  bottom: 34px;
}

.humidity,
.wind {
  color: #c61c1e;
  font-weight: bold;
}
