.WeatherForecast {
  text-align: center;
  font-size: 15px;
}

.forecast-temp-max {
  font-weight: bold;
  color: #c61c1e;
}

.forecast-temp-min {
  margin-left: 8px;
  opacity: 0.7;
  font-weight: 500;
  color: #c61c1e;
}

.forecast-icon {
  margin-top: 10px;
  height: 40px;
}

.forecast-image {
  width: 60px;
}
